# PostgreSQL
POSTGRES_USER=mogged
POSTGRES_PASSWORD=mogged_secret
POSTGRES_DB=mogged

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_BUCKET=mogged-photos

# JWT
JWT_SECRET=change_me_in_production

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Services URLs (internes Docker)
AUTH_SERVICE_URL=http://auth-service:8081
USER_SERVICE_URL=http://user-service:8082
ELO_SERVICE_URL=http://elo-service:8083
FACE_SERVICE_URL=http://face-service:8000

# AI Model
MODEL_PATH=/app/models/model_v1.joblib
